@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
body{
  background:#02475e;
  text-align:center;
  margin:0;
  padding:0;
  font-family: 'Asap', sans-serif;
  color:#fff;
  min-height: 100vh;
}

.h1{
  background:#fff;
  margin:0;
  padding: 20px 0;
  color:#02475e;
}
.results{
  color:#fff;
}
.scores{
  width:200px;
  border:2px solid #fff;
  margin: 20px auto;
  position:relative;
}
.scores div{
  background:#ba135d;
  position:absolute;
  top:30px;
  padding:5px;
}

.user{
  left:-20px;
}
.comp {
    right: -50px;
}
.choises{
  margin: 50px 0;
}
.choise{
  display:inline-block;
  color:#87a7b3;
  border:2px solid #87a7b3;
  width:60px;
  height:60px;
  font-size:35px;
  line-height:60px;
  text-align:center;
  cursor:pointer;
  border-radius:50%;
}
.choise:hover{
  background: #163a46;
}
#paper{
  margin: 0 20px;
}
